/* CSS Variables */
/* Set Page Colors */

:root {
  /* --color-primary: #2d6858;
  --color-secondary: #f0ad4a; */
  --color-primary:#BEC7D6;
  --color-secondary:#7A90AC;
}
html {
  font-size: 62.5%;
  /* Allows you to use rems instead of pixels for sizing */
  /*
.5rem = 5px
1.0rem = 10px
1.6rem = 16px
2.0rem = 20px
6.0rem = 60px
*/
}

/* Browser Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fix Browser Bounce on Macs */
body {
  overflow-x: auto;
  width: 100%;
  overscroll-behavior: none;
  /* Allows for easy pixel calcs in rems */
  font-size: 1.6rem;
}

/* All Sections
pageheader
showcase
features
pagecontent
semesters
pagefooter
 */

/* General Mobile First CSS */

body {
  /* padding:1.0 rem; */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  color: #333;
  /* background-color: #f8fafc; */
  background-color: #fff;
}

/* link Styles */
a {
  color: red;
  text-decoration: none;
}

/* Paragraph */
p {
  margin: 1rem 0 1rem 0;
}

/* Header Styles */

h1,
h2 {
  text-align: center;
}

h1,
h2,
h3 {
  line-height: 1.2;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* List Styles */
li {
  line-height: 2;
}

/* Container Styles */
.container {
  max-width: 120rem; /* 1200px */
  margin: auto;
  padding: 0rem 3rem 0rem 3rem; /* 30px */
}

/* End General Mobile First Style */


