---

---
<!-- Begin Pagecontent -->

<main id="pagecontent">    
    <div class="container">
        <h2>View my information down below! </h2>


        <h3>Resume</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, et. </p>

        <h3>Job Application</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, libero? </p>

        <h3>References</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, eveniet!
        </p>
    </div>
    

    
    <!-- End Container -->
    
    </main>
    
    <!-- End Pagecontent -->

    <style>

/* Pagecontent Section */
#pagecontent {
  background-color: none;
  padding: 2rem 0rem 2rem 0rem;
}

#pagecontent h2,
h3 {
  padding: 2rem;
}

#pagecontent h2 {
  font-size: 4rem;
  text-align: left;
}

#pagecontent h3 {
  font-size: 2.5rem;
}
/* End Pagecontent Section Styles */


    </style>