---

---

<!-- Begin Pagefooter -->

<footer id="pagefooter">
    <div class="container">
        <div id="quote">
            <h3>Final Thoughts</h3>
            <blockquote>
                Life is hard. After all, it kills you.

                - Katharine Hepburn
            </blockquote>
        </div>
<!-- End Quote -->

        <div id="pagefooterlinks">
            <h3>Links</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="blog.html">Blog</a></li>
            </ul>
        </div>
        <!-- End Footer Links -->
    </div>
    <!-- End Container -->
    </footer>
    <!-- End Pagefooter --> 

    <style>


/* Footer Section */
#pagefooter {
  background-color: var(--color-primary);
  color: #fff;
  text-align: center;
  padding: 2rem;
  /* padding-top: 6rem; */
  padding-top: .5rem;
  padding: 3rem;

}

#pagefooter .container {
  /* background-color: #bdaac9; */
  /* border: 2px dashed red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#pagefooter a {
  color: #fff;
}

#pagefooter a:hover {
  color: #b7c1bf;
}

#pagefooter h3 {
    padding-bottom: 3rem;

}

#pagefooter #quote {
  text-align: left;
}

#pagefooterlinks {
  display: none;
}

/* End Footer Section Style */



@media only screen and (min-width: 1200px) {
  #features {
    background-color: #bec7d6;
  }

  #pagefooterlinks {
    display: block;
  }
}
    </style>