---

---

<!-- Begin Pagefooter -->

<footer id="pagefooter">
    <div class="container">
        <div id="quote">
            <h3>Final Thoughts</h3>
            <blockquote>
                Life is hard. After all, it kills you.

                - Katharine Hepburn
            </blockquote>
        </div>
<!-- End Quote -->

        <div id="pagefooterlinks">
            <h3>Links</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="blog.html">Blog</a></li>
            </ul>
        </div>
        <!-- End Footer Links -->
    </div>
    <!-- End Container -->
    </footer>
    <!-- End Pagefooter --> 