---

---
<!-- Begin Pagecontent -->

<main id="pagecontent">    
    <div class="container">
        <h2>Introduction</h2>
        <p>
            Greetings people! My name is Abigail Lee and this is a portfolio website for my web development work.
        </p>

        <h3>Career</h3>
        <p>My goal is to create webpage that are functional. </p>

        <h3>Design</h3>
        <p>Although I'm not a fan of drawing, through the use of photoshop I'm able to create decent designs. </p>

        <h3>Programming</h3>
        <p>
            Over the last two years I've been learning JavaScript. I've learned a lot about the language and I'm excited to learn more.
        </p>
    </div>
    


    
    <!-- End Container -->
    
    </main>
    
    <!-- End Pagecontent -->