---

---

<!-- Begin Semesters -->

<section id="semesters">
    <div class="container">
        <h2>Key Assignments</h2>
        <section id="workthumbnails">
            <div class="thumbnail">

<a href="https://chsserver01.org/2023/alee062023/Activities/CanvasDrawing1/canvasdrawing1.html" data-tooltip="Canvas Drawing - Train" target="new">
                        
    <img src="/images/thumbnail-vscode.png" alt="Canvas Drawing - Train" class="thumb">
    
</a>    

<a href="https://chsserver01.org/2023/alee062023/Demos/ArraysReview/arrayreviewforeach.html" data-tooltip="Array Review" target="new">
                    
    <img src="/images/thumbnail-array.png" alt="Array Review" class="thumb">
    
</a>

<a href="https://chsserver01.org/2023/alee062023/Images/markdown-preview.png" data-tooltip="Markdown Preview" target="new">

                    <img src="/images/thumbnail-markdown.png" alt="Mark Down" class="thumb">
    
</a>

<a href="https://chsserver01.org/2023/alee062023/Activities/PaintBrushPrototypeMobile/paintbrushprototypemobile.html" data-tooltip="Paintbrush App"  target="new">
                    
    <img src="/images/thumbnail-app.png" alt="Paintbrush App" class="thumb">
    
</a>
<a href="https://chsserver01.org/2023/alee062023/Images/scarecrow.jpg"  data-tooltip="Photoshop - Scarecrow" target="new">
                    <img src="/images/thumbnail-photoshop.png" alt="Photoshop - Scarecrow" class="thumb">
    
</a>

<a href="https://chsserver01.org/2023/alee062023/Activities/CanvasDrawing2/canvasdrawing2.html"  data-tooltip="Canvas Drawing - Truck" target="new" >
                    <img src="/images/thumbnail-javascript.png" alt="Canvas Drawing - Truck" class="thumb">
    
</a>
            </div>
        </section>

        <h3>Semester 1</h3> 
        <ul class="assignments">
            <li><a href="https://chsserver01.org/2023/alee062023/Activities/PaintBrushPrototypeMobile/paintbrushprototypemobile.html" target="new">A001 - Paintbrush App</a></li>
            <li><a href="https://chsserver01.org/2023/alee062023/Activities/CanvasDrawing2/canvasdrawing2.html" target="new">A002 - Canvas Drawing</a></li>
            <li><a href="https://chsserver01.org/2023/alee062023/Demos/ArraysReview/arrayreviewforeach.html" target="new">A003 - Array</a></li>
            <li><a href="https://chsserver01.org/2023/alee062023/Images/scarecrow.jpg" target="new">A004 - Photoshop - Scarecrow Drawing</a></li>
        </ul>

        <h3>Semester 2</h3> 
        <ul class="assignments">
            <li><a href="https://chsserver01.org/2023/alee062023/Demos/CanvasInterface/canvasinterface.html" target="new">A005 - Canvas Interface</a></li>
            <li><a href="https://chsserver01.org/2023/alee062023/Demos/MASH/mash.html" target="new">A006 - MASH</a></li>
            <li><a href="https://chsserver01.org/2023/alee062023/Demos/PseudoElements/pseudoelements.html" target="new">A007 - Pseudo Elements </a></li>
            <li><a href="https://chsserver01.org/2023/alee062023/Semester2/AFB001WAD/afb001wad.html" target="new">A008 - Flex Layout</a></li>
        </ul>
    </div>

    <!-- End Container -->
    
    </section>
    
    <!-- End Semesters -->

    <style>

/* Semester Section */
#semesters {
  padding: 2rem 0 2rem 0;
}

#semesters h2,
#semesters h3 {
  padding: 2rem 0 2rem 0;
}

#semesters h2 {
  font-size: 4rem;
  text-align: left;
}

#semesters h3 {
  font-size: 2.5rem;
}

.assignments a {
  color: #7A90AC;
}

/* End Semester Section */

/* Semester Thumbnail Section */
.thumbnail {
  /* background-color: burlywood; */
  background-color: #ecf0f1;
  /* border: 2px dashed red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.thumbnail img
{
  border-radius: 5px;
}

.thumb {
  width: 150px;
  height: 150px;
}
.thumb:hover {
  animation-name: tilt;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

.thumbnail a
{
  text-decoration: none;
  position: relative;
}

.thumbnail a[data-tooltip]::after {
  background-color:rgb(178,174,186);
  content:attr(data-tooltip) ;
  color: white;
  padding: .5rem;
  position: absolute;
  z-index: 1;
  top:-15%;
  left:10%;
  right: 10%;
  border-radius: 10px;
  text-align: center;
  transform: scale(0);
  transition: all 0.5s;
}

.thumbnail a[data-tooltip]:hover::after{
  transform: scale(1);

}


/* End semesters thumbnail section style */


    </style>