---

---

<!-- Begin Semesters -->

<section id="semesters">
    <div class="container">
        <h2>Key Assignments</h2>
        <section id="workthumbnails">
            <div class="thumbnail">
                <img src="images/thumbnail-vscode.png" alt="VS Code" class="thumb">
                <img src="images/thumbnail-array.png" alt="Array" class="thumb">
                <img src="images/thumbnail-markdown.png" alt="Mark Down" class="thumb">
                <img src="images/thumbnail-app.png" alt="App" class="thumb">
                <img src="images/thumbnail-photoshop.png" alt="Photoshop" class="thumb">
                <img src="images/thumbnail-javascript.png" alt="JavaScript" class="thumb">
            </div>
        </section>

        <h3>Semester 1</h3> 
        <ul class="assignments">
            <li><a href="https://chsserver01.org/2023/alee062023/Activities/PaintBrushPrototypeMobile/paintbrushprototypemobile.html" target="new">A001 - Paintbrush App</a></li>
            <li><a href="https://chsserver01.org/2023/alee062023/Activities/CanvasDrawing2/canvasdrawing2.html" target="new">A002 - Canvas Drawing</a></li>
            <li><a href="https://chsserver01.org/2023/alee062023/Demos/ArraysReview/arrayreviewforeach.html" target="new">A003 - Array</a></li>
            <li><a href="https://chsserver01.org/2023/alee062023/Images/scarecrow.jpg" target="new">A004 - Photoshop - Scarecrow Drawing</a></li>
        </ul>

        <h3>Semester 2</h3> 
        <ul class="assignments">
            <li><a href="https://chsserver01.org/2023/alee062023/Demos/CanvasInterface/canvasinterface.html" target="new">A005 - Canvas Interface</a></li>
            <li><a href="https://chsserver01.org/2023/alee062023/Demos/MASH/mash.html" target="new">A006 - MASH</a></li>
            <li><a href="https://chsserver01.org/2023/alee062023/Demos/PseudoElements/pseudoelements.html" target="new">A007 - Pseudo Elements </a></li>
            <li><a href="https://chsserver01.org/2023/alee062023/Semester2/AFB001WAD/afb001wad.html" target="new">A008 - Flex Layout</a></li>
        </ul>
    </div>

    <!-- End Container -->
    
    </section>
    
    <!-- End Semesters -->