---

---
<!-- Showcase Section --> 

<section id="showcase">
<div id="showcasetext">
    <h1>Abigail Lee</h1>
    <h2>Portfolio</h2>
    <blockquote>When I was young I thought that money was the most important thing in life; now that I am old I know that it is. - Oscar Wilde</blockquote>
</div>

<div id="showcaseimage">
<img src="images/technologiesbig.png" alt="Technologies" id="logosbig">    
<img src="images/technologiessmall.png" alt="Technologies" id="logossmall">
</div>

<p id="showcaseintro">
    This is a showcase of my webpage design/development work.
</p>

</section>
<!-- End Showcase Section -->